{% extends 'base.html' %}

{% block content %}
<div class="form-container" style="max-width: 600px; text-align: left;">
    <h2 style="text-align: center;">About This Project</h2>
    <p style="color: #4a5568; line-height: 1.6;">
        This Student Portal web application is developed as part of my 1st-year Computer Technology Diploma project following a Python Fullstack Development internship.
    </p>
    <br>
    <h4>Key Features Built:</h4>
    <ul style="margin-left: 20px; color: #4a5568; line-height: 1.8;">
        <li>User Registration & Validation</li>
        <li>Secure Authentication System (Login/Logout)</li>
        <li>Dynamic Dashboard using Django Templates</li>
        <li>Clean Responsive CSS UI Styling</li>
    </ul>
</div>
{% endblock %}